.FoF-Linguist-Filters {
    display: flex;
    padding-top: 10px;
}

.FoF-Linguist-Filters .Button {
    margin-left: 10px;
}

.FoF-Linguist-Filter--Selected {
    // Use our own class to have both an icon and use the color of the primary button
    .Button--color(@body-bg, @primary-color);
}

.FoF-Linguist-Filters .Dropdown-menu {
    max-height: 40em;
    overflow-y: auto;

    .Button {
        margin-left: 0;
    }
}

.FoF-Linguist-Missing-Filter {
    padding: 8px 15px 0;
    min-width: 20em;

    .Select {
        display: block;
        margin-bottom: 10px;

        select {
            width: 100%;
        }
    }

    p {
        text-align: center;
        color: @muted-color;
    }
}

.FoF-Linguist-Key {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.FoF-Linguist-Key-Code {
    padding: 10px 20px;
}

.FoF-Linguist-Locale {
    display: flex;
}

.FoF-Linguist-Label,
.FoF-Linguist-Field,
.FoF-Linguist-Controls {
    padding: 10px 20px;
}

.FoF-Linguist-Label {
    min-width: 12em;
}

.FoF-Linguist-Field {
    flex-grow: 1;
}

.FoF-Linguist-Field-Wrap {
    position: relative;
}

.FoF-Linguist-Input {
    padding-top: 1.3em; // Place for the placeholder to go
    height: auto; // Cancel Flarum fixed height
}

.FoF-Linguist-Highlight {
    background: rgba(251, 240, 23, 0.5);
}

.FoF-Linguist-Placeholder {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 13px 0; // Same horizontal padding as Flarum .FormControl
    transition: 0.2s transform;
    font-size: 1.2em;
    transform-origin: 0 0;
    transform: translate(0) scale(1);
    pointer-events: none; // Don't block access to the input
    color: #aaa;

    // Elipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FoF-Linguist-Placeholder-Hint {
    display: none; // Will be shown under special cases
    color: #aaa;
}

.FoF-Linguist-Input:focus + .FoF-Linguist-Placeholder,
.FoF-Linguist-Field--with-value .FoF-Linguist-Placeholder {
    transform: translate(4px, -6px) scale(0.75);

    .FoF-Linguist-Placeholder-Hint {
        display: inline-block;
    }
}

.FoF-Linguist-Field--with-value .FormControl {
    border-color: #30ba1c;
}

.FoF-Linguist-Field--with-original-string .FoF-Linguist-Placeholder {
    color: #333;
}

.FoF-Linguist-Results {
    padding: 20px 0;
}
